/*------ CSS RESET ------*/

*{
  padding:  0em;
  margin:  0;
  font-size: 100%;
  line-height: 1em;
  scroll-behavior: smooth;
}

/*-------MAIN STYLING------*/

body {
  background-color: #6D8BAA;
  font-size: 1.2em;
  text-align: justify;
  padding: 14em;

}

head {
  background-color: #6D8BAA;
}

hr {
  margin:3em 0;
  height:4px;
  background-color: #fafafa;
  border: 0 none;
}





/*-------TYPOGRAPHY---------*/

h2, h3 {
      font-weight: normal;
      color: #fafafa;
      text-align: center;
      padding-top: 4em;
      padding-bottom: 0.2em;
      font-family: 'Poppins', sans-serif;
    }

h1 {
      font-family: 'Poppins', sans-serif;
      color: #fafafa;
}


header {
margin-top: 6em;
margin-bottom: 6em;
}

p {
      font-family: 'Roboto', sans-serif;
      line-height: 1.2;}

h1 {
      text-align: center;
      font-size: 3em;
    }

h2 {font-size: 1.999em;
      margin: 3em 0 1em 0;}

h3 {font-size: 1.414em;
      margin-bottom: 1.5em;}



.layout {
  margin-top: 6em;
  margin-bottom: 6em;
  padding-left: 5em;
  padding-right: 5em;
}

.center{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  color: #fafafa;
  margin-top: 2em;
}

.caption {
  display: block;
  margin: 1em auto;
  padding: 2em 1 6em 0;
  max-width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  color: #fafafa;

}


/*-------------STYLING LINKS------------*/
a{
  color: #efef74;
  text-decoration: none;

}

a:hover {
  color: #fafafa ;
}


/*-------IMAGES--------*/

.image{
    display:block;
    margin: 3em auto;
    padding: 0em;
    max-width: 100%;
    align-items: center;
}

/*-------FOOTER------*/

footer{
  text-align: center;
  font-size: 0.707em;
  padding-top: 1em ;
  width: 100%;
}

.connections {
  position: relative;
  margin: 0 auto;
}

.connections ul {
  margin:0;
  padding: 0;
}

.connections li {
  margin: 0 15px;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.connections a: link {
  border-bottom: none;
}

.connections img {
  opacity: 0.5;
  border: none;
}

.connections a: hover img {
  opacity: 1.0;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
}




/*----FLEXBOX-----*/

.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

.flex-grid {
  margin: 0 0 20px 0;
}
.col {
  padding: 10px;
}

.col img {
  width: 100%;
}

img {
  padding: 10px;
}

.center {
  display: block;
   margin-left: auto;
   margin-right: auto;

}

.style {
  width:100%;
  background-color: white;

}
